p{
    height: 5rem;
    background-color: rgb(255, 255, 255);
    display: flex;

}
div{

    display: flex;
    justify-content: center;
    align-items: center;

}
.sol{
    height: 100px;
    width:  100px;
    background-color: yellow;
    margin-bottom: 3rem;
}
